.github export-ignore
.agents export-ignore
.codex export-ignore
.idea export-ignore
.psalm-cache export-ignore
.phpunit.cache export-ignore
.vscode export-ignore
.windsurf export-ignore
benchmarks export-ignore
docs export-ignore
examples export-ignore
node_modules export-ignore
tests export-ignore
vendor export-ignore
var export-ignore

.editorconfig export-ignore
.gitattributes export-ignore
.gitignore export-ignore
.readthedocs.yaml export-ignore
captainhook.json export-ignore
composer.lock export-ignore
pest.xml export-ignore
phpbench.json export-ignore
phpcs.xml.dist export-ignore
phpstan.neon.dist export-ignore
phpunit.xml export-ignore
pint.json export-ignore
psalm.xml export-ignore
package-lock.json export-ignore
package.json export-ignore
rector.php export-ignore

* text eol=lf
